table.container {
  width: 600px;
}

h1 {
  font-size: 24px;
}

p {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

a:hover {
  color: #000 !important;
}

hr {

}

.award_winning {
  background-color: #141417;
  color: #fff;
  font-size: 22px;
  text-align: center;
  line-height: 3;
  font-weight: bold;
}

.copy {
  color: #333333;
  font-family: Helvetica,sans-serif;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
}

.article_button {
  border: 4px solid #a3cc39;
  line-height: 2px;
  color: #a3cc39 !important;
}

.result {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.result_images{
  width: 100%;
}

.featured-articles {
  color: #333333;
  font-family: sans-serif;
  font-size: 15px;
  line-height: 20px;
  padding: 0;
  font-weight: bold;
}

.about {
  font-weight: bold;
  font-style: italic;
  color: #333333;
}

.about_copy {
  color: #333333;
  font-family: Helvetica,sans-serif;
  font-size: 16px;
  line-height: 30px;
}

.contact {
  background-color: #ebebeb;
}

.contact-copy p {
  color: #363636;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.contact-copy a {
  color: #8dc63f;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.social {
  background-color: #ebebeb;
}

.social span {
  color: #000;
  font-weight: bold;
  font-size: 12px;
}

.social img {
  display: inline-block;
  border-bottom: 0px;
  width: auto;
}

.spanner {
  width: 40%;
}

.unsibscribe {
  background-color: #959595;

}

.unsubscribe_button {
  color: #fff !important;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 15px;
}

table.menu td.menu-item, table.menu th.menu-item{
  vertical-align: bottom;
}

@media screen and (max-width: 596px) {
  .result_images{
    width: 100% !important;
  }
  .silver_winning_image {
    width: 30% !important;
  }
  .award_winning {
    font-size: 16px!important;
  }
  .menu {
    width: 100% !important;
  }
}
