
<container class="container">
  <row>
    <a href="http://garfieldgroup.com" target="_blank"><img src="http://go.pardot.com/l/9402/2017-10-24/9lrgnx/9402/160761/hero.jpg" alt=""></a>
  </row>
  <hr>
  <spacer size="50"></spacer>
  <row>

    <columns small="12" large="7">
      <h1>Hi %%first_name%%,</h1>
      <p class="copy">
      We hope you had just as much reality-bending fun at the PA Marketing Summit Happy Hour as we did. Thank you for getting to know Garfield a bit better — and congratulations to the lucky winner of the Oculus Rift! To see event photos and everyone’s virtual snowmen, follow us on <a href="https://twitter.com/Garfieldgroup" target="_blank">Twitter</a>, <a href="https://www.facebook.com/GarfieldGroup/">Facebook</a>, and <a href="https://www.instagram.com/garfieldgroup/" target="_blank">Instagram</a>.
      </p>
      <spacer size="20"></spacer>
      <p class="copy">
      The Marketing Summit may be over, but our work with the Philadelphia Education Fund has only just begun. Read the following blog posts to learn more about our service program — and our recent move to The City of Brotherly Love!
      </p>
      <spacer size="25"></spacer>
      <p>Thanks, <br /> Larry Garfield</p>

    </columns>
    <columns large="1"></columns>
    <columns small="12" large="4">

      <center>
        <img class="result_images" src="http://go.pardot.com/l/9402/2017-10-24/9lrgp8/9402/160767/philly_ed.jpg"   alt="">
      </center>
      <spacer size="10"></spacer>
      <row>
        <columns large="9" style="padding:0 !important;">
          <p class="featured-articles">Garfield Partners With Philadelphia Education Fund</p>
        </columns>
        <columns large="" class="show-for-large"></columns>
      </row>
        <!-- <spacer size="10"></spacer> -->
      <a class="read-more" href="https://garfieldgroup.com/latest/realitychange" target="_blank" style="font-size:14px;"><strong>READ MORE &#62;</strong></a>
      <spacer size="35"></spacer>
      <center>
        <img class="result_images" src="http://go.pardot.com/l/9402/2017-10-24/9lrgpg/9402/160777/garfield_move.jpg"  alt="">
      </center>
      <spacer size="10"></spacer>
      <row>
        <columns large="9" style="padding:0 !important;">
          <p class="featured-articles">A Revolutionary Homecoming: Our Move to Old City</p>
        </columns>
        <columns class="show-for-large"></columns>
      </row>
      <!-- <spacer size="10"></spacer> -->
      <a href="https://garfieldgroup.com/latest/revolutionary-homecoming-our-move-old-city" target="_blank" style="font-size: 14px;"><strong>READ MORE &#62;</strong></a>
      <spacer size="35"></spacer>
    </columns>
  </row>

  <spacer size="50"></spacer>

  <a href="http://www.garfieldgroup.com" target="_blank">
    <img src="http://go.pardot.com/l/9402/2017-10-24/9lrgp6/9402/160771/create_brand_action.jpg" height="54" width="600" alt="">
  </a>

  <spacer size="30" class="contact"></spacer>

  <row class="contact">

    <columns></columns>

    <columns class="text-center contact-copy" large = "6" small="12"><p>325 Chestnut Street, Suite 405</p>
       <p>Philadelphia, PA 19106 USA</p>
       <p><a href="http://www.garfieldgroup.com" target="_blank">garfieldgroup.com</a></p>
    </columns>

    <columns class="text-center contact-copy" large = "6" small="12">
      <spacer size="7"></spacer>
      <p>Work with us or get in touch:</p>
      <p><a href="mailto:hello@garfieldgroup.com" target="_blank">hello@garfieldgroup.com</a></p>
    </columns>
    <columns></columns>

  </row>

  <row class="social">
    <columns large="2" class="show-for-large"></columns>
    <columns small="12" large="8">
      <menu>
        <item style="vertical-align: middle !important;"><span class="follow_social" >Follow Us:</span></item>
        <item><a href="https://www.facebook.com/GarfieldGroup/" target="_blank"><img src="http://go.pardot.com/l/9402/2017-10-24/9lrgpb/9402/160773/Facebook.png" alt=""></a></item>
        <item><a href="https://www.instagram.com/garfieldgroup/" target="_blank"><img src="http://go.pardot.com/l/9402/2017-10-24/9lrgnz/9402/160763/Instagram.png" alt=""></a></item>
        <item><a href="https://twitter.com/garfieldgroup" target="_blank"><img src="http://go.pardot.com/l/9402/2017-10-24/9lrgp4/9402/160769/Twitter.png" alt=""></a></item>
        <item><a href="http://www.linkedin.com/company/garfield-group" target="_blank"><img src="http://go.pardot.com/l/9402/2017-10-24/9lrgp2/9402/160765/Linked_In.png" alt=""></a></item>
        <item><a href="https://plus.google.com/+GarfieldGroup" target="_blank"><img src="http://go.pardot.com/l/9402/2017-10-24/9lrgpd/9402/160775/Google__.png" alt=""></a></item>
      </menu>
    </columns>
    <columns large="2" class="show-for-large"></columns>
  </row>

  <row class="unsibscribe">
    <columns></columns>
    <columns valign="middle">
      <spacer size="10"></spacer>
      <center>
        <a class="unsubscribe_button" href="%%unsubscribe%%">Unsubscribe</a>
      </center>
    </columns>
    <columns></columns>
  </row>
</container>
